<%- include('partials/header.ejs') %>

    <style>
      .card-img-top {
        height: 200px;
        width: 200px;
      }
    </style>
      <div class="container-fluid px-5 pt-3">
        <% if(typeof errorMessage != 'undefined' && errorMessage) { %>
        <p class="errorMessage"><%- errorMessage %></p>
        <% } %>
        <div class="heading"> 
          <h2>Product Details</h2>
        </div>
        <div class="row mt-4 ">
          <div class="col">
            <div class="card">
              <img class="card-img-top px-1" style="object-fit:contain" src="/images/products/<%=product.imageUrl %>" alt="Card image" />
              <div class="card-body">
                <h4 class="card-title"><%= product.title %></h4>
                <p class="card-text"><%= product.description %></p>
                <p class="card-text">₹ <%= product.price %></p>
                <div class=" col d-flex justify-content-end py-2">
                  <form method="post" action="/cart">
                      <input type="hidden" name="productId" value="<%=product.id%>" />
                      <button type="submit" class="btn btn-primary btn-sm ">Add
                          to cart</a>
                  </form>
              </div>
              <div class=" col d-flex justify-content-end py-2">
                <form method="get" action="/product/updateProduct/<%=product.id%>">
                    <button type="submit" class="btn btn-primary btn-sm ">Update Product</a>
                </form>
            </div>
              <div>
                <form method="post" action="/product/<%=product.id%>" onsubmit="return myFunction()" >
                  <input type="hidden" name="_method" value="delete" />
                  <button type="submit" style="float:right" class="btn btn-primary btn-sm ">Delete</a>
              </form>
            </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
      <script>
        function myFunction() {
          let text = "Press Ok to delete product";
          return confirm(text) 

        }
        </script>
<%- include('partials/footer.ejs') %>
